*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'cairo';
    src: url('Cairo/Cairo.ttf');
}
body{
    background-image:url("livres.jpg");
    height: 100vh;
    display: flex;
    width:100vw;
    background-size:cover;
}

#preloader{
    background:#000 url(gif.gif) no-repeat center center;
    background-size:15%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:99100;
}
#se_connecter{
    background-color: #fff;
    width:30%;
    margin:auto;
    border-radius: 20px;
    height: 50%;
}

label{
    text-align: center;
    font-size: larger;
}

#sinscrire{
    background-color: #fff;
    width:400px;
    margin:auto;
    border-radius: 20px;
    height: 290px;
}

#sinscrire p:first-child{
    background-color: rgb(14, 9, 5);
    padding:20px;
    color:white;
    font-weight: bold;
    text-align: center;
    align-self: flex-start;
    border-top-left-radius: 3%;
    text-transform: uppercase;
    border-top-right-radius: 3%;
    font-family: 'cairo';
}

form{
    display: flex;
    flex-direction: column;
}

[type="text"]{
    width:80%;
    margin:2% auto;
    font-family: 'cairo';
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px;
}


[type="submit"]{
    width:80%;
    margin:2% auto;
    font-family: 'cairo';
    font-size: 25px;
    border-radius: 40px;
    padding-left: 10px;
    background-color: rgb(14, 9, 5);
    color:white;
    cursor: pointer;
}

hr{
    width:80%;
    margin:5% auto;
}

@media screen and (device-width:600px){
    #sinscrire{
        width:90%;
    }
}