*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.pagination {
    display: flex;
    font-size:30px;
    font-weight:bold;
    
  }

  @keyframes slide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform : translate(-700px);
    }
}
  
  .pagination a,.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border:1px solid black;
  }
  
  .pagination li.active {
    background-color: rgb(224, 224, 103);
    color: white;
  }
  
  .pagination li:hover:not(.active):not(.disabled) {background-color:  rgb(224, 224, 103);}

.images{
    width:170px;
    height:170px;
}
@font-face {
    font-family: 'cairo';
    src: url('Cairo/Cairo.ttf');
}
#banner{
    background-image: url('banner.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    box-shadow: 0 5px 25px rgba(207, 200, 200, 0.15);
    overflow: hidden;
    display: flex;
}
#banner img{
    height:350px;
    width:280px;
    
    animation:slide 15s linear infinite;
}
#preloader{
    background:#000 url('gif.gif') no-repeat center center;
    background-size:15%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index:99100;
}
body{
    background-color: rgb(15, 8, 1);
    min-height:100%;
}
#main{
    background-color: rgb(37, 28, 16);
    width:80%;
    margin:auto;
    box-shadow: 0 5px 25px rgba(207, 200, 200, 0.15);
    height:100vh;
}

.navbar{
    width:100%;
    background-color: rgb(14, 9, 5);
    padding: 2%;
    box-shadow: 0 5px 25px rgba(207, 200, 200, 0.15);
}

.navbar a {
    color:rgb(224, 224, 103);
    font-family: 'cairo';
    margin-right: 30px;
    text-decoration: none;
}

.acc{
    font-weight: bold;
}
#navbar{
    position:sticky;
    top:0;
    z-index:999;
}
.icon {
    display: none;
  }
aside{
    color:rgb(224, 224, 103);
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 1%;
    font-family: 'cairo';
    background-color: rgb(14, 9, 5);
    padding: 1%;
    border-radius: 30px;
    height: 100%;
    width:20%;
}

aside a {
    color:rgb(224, 224, 103);
    text-decoration: none;
}

aside a:hover{
    text-decoration: underline;
}

#cat{
    font-size: x-large;
    font-weight: bold;
}


.click{
    text-decoration: none;
}

#ajouter{
    display: flex;
}

#titre {
    positon:relative;
    left: 20px;
}

@media screen and (max-width: 600px) {
    #titre {
    left: unset;
}
    #navbar > a:not(:first-child) , #myInput,#sucb{display: none;}
    #navbar a.icon {
      float: right;
      display: block;
    }
    .t{
        width:95%;
        height:350px;
        overflow:scroll;
    }
    #main{
        width:90%;
    }


aside{
    width:50%;
}
  }

  #titre{
    font-size:20px;
  }
  
  @media screen and (max-width: 600px) {
    #main{
        width:100%;
    }
    .gf label{
        width:50%;
    }
    aside{
        display:none;
    }
    .icon {
      position: absolute;
      right: 0;
      top:10px;
      font-size:20px;
    }
    #navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.gf label{
    color:white;
    margin-right: 30px;
    display: inline-block;
}
.gf input{
    width:80%;
    outline: none;
}

.gf p {
    color:rgb(224, 224, 103);
}

.gf {
    margin-top: 1%;
    margin-left: 3%;
    background-color: rgb(14, 9, 5);
    border-radius: 30px;
    padding: 20px;
    width: 70%;
}

.gf p {
    background-color:rgb(14, 9, 5);
    border-radius: 30px;
    padding-left: 2%;
    font-family: 'cairo';
}

[type='file']{
    color:white;
}

textarea{
    outline: none;
}

#desc{
    vertical-align: top;
    
    margin-left:170px;
}

#sub{
    padding: 10px 15px;
    background-color: rgb(224, 224, 103);
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    left:86%
}

aside div a {
    display: block;
}

.dropdown{
    display: none;
} 

.dropbtn {
    /* background-color: #4CAF50; */
    color: rgb(224, 224, 103);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(14, 9, 5);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right:20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 20px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(224, 224, 103);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    background-color: rgb(14, 9, 5);
  }
  
  /* Change color of dropdown links on hover */
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn { */
    /* background-color: #3e8e41; */
  /* } */

  #notif{
    height: 10px;
    width:10px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left:22px;
    bottom:35px;
    display:none;
  }

#gallery{
    animation-duration: 15s;
    animation-name:slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#gallery{
    display:flex;
}
#livres{
    display: flex;
}
button{
    padding: 10px 15px;
    background-color: rgb(224, 224, 103);
    border-radius: 20%;
    font-weight: bold;
    position: relative;
}
#notifi{
    margin-right:20px;
}
.gf{
    margin:20px auto ;
    height:250px;
    
}


@media screen and (max-width: 600px) {
    #desc{
        margin-left:15px;
        }
    
}
#desc{
        color:white;
    }
    #vid{
        width:70%;
    }
    #gallery{
        display:flex;
    }
    #livres{
        display: flex;
    }
    .image{
        margin-left:20px;
        margin-top:30px;
        margin-right:30px;
        float:left;
        position: relative;
        bottom:20px;
    }
    h1{
        color:rgb(224, 224, 103);
    }
    ul{
        list-style-type:none;
    }

    ul + p {
        color:white;
    }
    #deta{
        margin-left:15px;
        
    }


